@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply text-Green font-thin tracking-wider;
}

* {
  box-sizing: border-box;
}

a {
  @apply text-orange;
}

input,
select,
textarea {
  @apply rounded border p-2 shadow outline-none text-orange text-sm focus:ring;
}

.bg1 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url("/images/bg1.jpg");
  background-size: cover;
  min-height: 88vh;
  min-width: 75vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply flex text-Black;
}

.card {
  @apply mb-5 block rounded-lg border-collapse shadow-lg;
}

.primary-button {
  @apply rounded py-2 px-4 bg-orange font-thin text-sm tracking-widest shadow outline-none hover:rounded-xl hover:bg-Green hover:text-orange transition-all duration-500 ease-in-out;
}
.default-button {
  @apply rounded py-2 px-4 shadow text-base outline-none tracking-widest hover:rounded-xl hover:bg-Green transition-all duration-500 ease-in-out;
}

.delete-button {
  @apply h-7 w-7 hover:scale-150 hover:text-Red transition-all duration-300 ease-in-out;
}

.dropdown-link {
  @apply flex p-2 tracking-widest hover:text-blue hover:bg-Green transition-all ease-in-out duration-300 shadow-sm;
}

.alert-error {
  @apply my-3 rounded-lg;
}

.alert-success {
  @apply my-3 rounded-lg p-3;
}

:root {
  --toastify-color-light: #34fac5;
  --toastify-color-dark: #f77605;
  --toastify-color-info: #f77605;
}
